<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="MqPath" value="FormatName:DIRECT=TCP:192.168.31.125\Private$\MSMQDemo1"/>
    <add key="TransactionalQueuePath" value="FormatName:DIRECT=TCP:192.168.31.125\Private$\TransactionalQueue"/>
    <add key="MessageCount" value="1"/>
  </appSettings>
</configuration>